* {
  margin: 0;
  padding: 0;
}

body {
  background:#0F172A;
  color:#F8FAFC;
  font-family: Inter, sans-serif;
}

/* Menu Starts */

#menu {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

#menu .menu-links {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}


/* Menu Stops */

header {
    color: #3B82F6;
    margin: 10px;
}

main {
    margin: 30px;
}

.secondary-heading {
    font-weight: 500;
    margin: 10px;
    color: lightblue;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    color: lightgray;
}


/* footer Starts */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #111827;
}

footer .link {
  text-decoration: none;
  color: white;
  
}

/* footer Ends */
